extends base
block content
  h5.text_subtitle=sub_title
  div.tuits
    each tui,index in twets
      span(class="text_user" id="id_"+index) #{tui.nombre } @#{tui.user}
      div.contenido 
        span(class="text_span" id="tui_"+index) #{tui.tweet}  
        
block content2
  h5.text_subtitle Información Destacada
  div.destacada  
    h6.text_inf#tot_usrs Total de usuarios: #{total_users}  
    h6.text_inf#tot_tuis Total de tweets: #{total_tuits}
    h6.text_inf#tot_cats Total de categorias: #{total_cates}

  h5.text_subtitle Actualmente en tendencia:
  div.destacada2 
    h6.text_inf#usr_plus Usuario más activo: #{user_mas}
    h6.text_inf#cat_plus Categoria destacada: #{cater_mas}
  h5.text_subtitle Consultas:  
  div.destacada3
    form(action='/perfil',method='POST')
      input(type='text', id="user", name='user', value='',placeholder='Buscar Usuarios')
      input(type='submit', value='Busqueda')
  div.destacada3        
    form(action='/categoria',method='POST')
      input(type='text', name='categoria', id="categoria",value='',placeholder='Buscar Categoria')
      input(type='submit', value='Busqueda') 
  script(src='/javascripts/refresco.js')       

          
  
